header {
    background-color: #4a148c;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.1rem;
}
.badge {
    font-size: 0.9rem;
    font-weight: normal;
    border-radius: 5px;
}

.list-unstyled li {
    padding: 10px 0;
    font-size: 1.2rem;
}

.specialization-link {
    text-decoration: none;
    color: #4a148c;
}

.specialization-link:hover {
    text-decoration: underline;
}

   /* Footer Section */
   .footer1{
    background-color: #00008B;
    padding: 140px;
    position: relative;
    height: 400px;
}
.footer-left{
    margin-top: -90px;
    margin-left: -180px;
    text-align: center;
    color: #7FFFD4	;
}
.text2{
    margin-left: 735px;
    color: white;
}

.contact-title {
    font-weight: bold; 
    font-size: 1.5rem; 
    margin-bottom: 10px;
}

.creditcards{
    color: white;
    margin-top: -160px;
    margin-left: -200px;
}
.creditcards img {
    margin-top: -180px; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; 
    }

    .input-group {
        width: 100%; 
    }

    .badge {
        font-size: 0.85rem;
        padding: 10px 15px;
    }

    .d-flex {
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 10px;
    }


    .footer1{
        background-color: #00008B;
        padding: 140px;
        position: relative;
        height: 400px;
    }
    .footer-left{
        margin-top: -80px;
        margin-left: -140px;
        text-align: center;
        color: #7FFFD4	;
    }
    .text2{
        margin-left: 330px;
        margin-right: none;
        color: white;
    }

    .contact-title {
        font-weight: bold; 
        font-size: 1.1rem; 
        margin-bottom: 10px;
    }

    .creditcards{
        color: white;
        margin-top: -130px;
        margin-left: -100px;
    }

    .creditcards img {
        margin-left: -40px;
        margin-top: -170px;
        max-width: 170px; 
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.8rem; 
    }

    .badge {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}


@media (max-width: 480px) {
    .footer1{
        background-color: #00008B;
        padding: 100px;
        position: relative;
        height: 600px;
    }
    .footer-left{
        margin-top: -40px;
        margin-left: -100px;
        text-align: center;
        color: #7FFFD4	;
    }
    .text2{
        margin-left: 100px;
        color: white;
        margin-left: -80px;
    }

    .contact-title {
        font-weight: bold; 
        font-size: 1.4rem; 
        margin-left: -40px;
        margin-right: -100;
    }

    .creditcards{
        color: white;
        margin-top: 60px;
        margin-left: -87px;
    }

    .creditcards img {
        margin-left: -40px;
        margin-top: -340px;
        max-width: 170px; 
    }
}

@media (max-width: 320px) {
    .footer1{
        background-color: #00008B;
        padding: 60px;
        position: absolute;
        height: 800px;
    }
    .footer-left{
        margin-top: -40px;
        margin-left: 60px;
        text-align: center;
        color: #7FFFD4	;
    }
    .text2{
        color: white;
        margin-left: -40px;
        margin-right: -100px;
        margin-top: 30px;
    }

    .contact-title {
        font-weight: bold; 
        font-size: 1.4rem; 
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .creditcards{
        color: white;
        margin-top: 30px;
        margin-left: -40px;
    }

    .creditcards img {
        margin-left: -40px;
        margin-top: -310px;
        max-width: 170px; 
    }
}